<div class="card user-card">
  <div class="card-body">
    <h5 class="card-title"><%= link_to(user.name, "/users/#{user.id}") %></h5>
    <p class="card-text">
      email: <%= user.email %><br>
      age: <%= user.age %><br>
      gender: <%= user.gender %>
    </p>
    <%# TO DO make sure confirmation message works %>
    <% if current_user.admin? && !current_user?(user) %>
      <%= button_to 'delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
